<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="logfile" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="Append" value="true"/>
		<param name="MaxBackupIndex" value="5"/>
		<param name="ImmediateFlush" value="true"/>
		<param name="File"
			value="/home/devender/personal/taless/regional-client/log4j.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
		</layout>
	</appender>
	<logger name="com.devender">
		<priority value="debug"/>
	</logger>
	<root>
		<priority value="ERROR"/>
		<appender-ref ref="CONSOLE"/>
		<!-- <appender-ref ref="logfile"/> -->
	</root>
</log4j:configuration>